canvas {
  width: 100%;
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

.del {
  text-decoration: line-through;
}

span[data-toggle=tooltip]:focus {
  outline: none;
}

li {
  list-style: none;
}