$o-webclient-background-color: $odoo-webclient-background-color;
$o-control-panel-background-color: $odoo-control-panel-background-color;

$o-list-footer-color: null !default;
$o-list-group-header-color: lighten($o-brand-lightsecondary, 10%) !default;

// UI custom colors for tags, kanban records' colors, ...)
// Note: the first value is the old BS3 gray-light value
$o-colors: $odoo-colors!default;

$o-colors-secondary: $odoo-colors-secondary!default;

// UI custom colors, complete list
$o-colors-complete: join(
    $o-colors,
    $o-colors-secondary
)!default;

$o-sheet-cancel-hpadding: $o-horizontal-padding !default;
$o-sheet-cancel-bpadding: $o-horizontal-padding !default;

$o-statusbar-arrow-width: $o-statusbar-height / 3 !default;
$o-statusbar-disabled-bg: lighten($o-brand-lightsecondary, 7%) !default;

$o-datepicker-week-bg-color: lighten($o-datepicker-week-color, 30%) !default;

// Form

// Safest for the next value would be map-get($container-max-widths, lg) as it
// is the minimal width of the default form view design for md/lg sizes
$o-form-sheet-min-width: 990px !default;
$o-form-separator-color: invert($o-view-background-color, 10%) !default;
